QWidget#noContacts
{
    image: url(:/placeholders/empty_cl_100);
    margin: 0;
}

QWidget#noRecents
{
    image: url(:/placeholders/empty_recents_100);
    margin: 0;
}

QWidget#noSearchResults
{
    image: url(:/placeholders/empty_search_100);
    margin: 0;
}
