Ui--Smiles--AddButton
{
    padding: 0;
    margin: 0;
    border-image: url(:/smiles_menu/gradient_picker_100);
}




Ui--Smiles--TabButton
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
}

Ui--Smiles--TabButton
{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
}

Ui--Smiles--TabButton::hover
{
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: center center;
}

Ui--Smiles--TabButton::checked
{
    background-color: #f2f2f2;
    border-bottom-color: #57b359;
    border-bottom-width: 2dip;
    border-bottom-style: solid;
    background-repeat: no-repeat;
    background-position: center center;
}

Ui--Smiles--TabButton[underline="false"]
{
    background: #ffffff;
}

Ui--Smiles--TabButton::hover[underline="false"]
{
    border-bottom: none;
    background-color: #f2f2f2;
}

Ui--Smiles--TabButton::checked[underline="false"]
{
    border-bottom: none;
    background-color: #f2f2f2;
}


Ui--Smiles--Toolbar
{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-color: #d7d7d7;
    border-width: 1dip;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-top: none;
}

Ui--Smiles--Toolbar#smiles_cat_selector
{
    border-bottom: none;
    min-height: 40dip;
    max-height: 40dip;
}

QWidget#scroll_area_widget
{
    background-color: #ffffff;
}

QTableView
{
    background-color: #ffffff;
    border: none;
}

QScrollArea
{
    border: none;
    background-color: #ffffff;
}

Ui--Smiles--SmilesMenu
{
    border-top-color: #d7d7d7;
    border-top-width: 1dip;
    border-top-style: solid;
    background-color: #ffffff;
}