QPushButton#backButton
{
    width: 28dip;
    height: 24dip;
    border: none;
    border-image: url(:/controls/back_100);
}
QPushButton#backButton:hover
{
    border-image: url(:/controls/back_100_hover);
}